<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/styleRegistro.css">

    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h2>Formulario CRUD para Suscripciones</h2><br>
        <form id="form" class="form" action="suscripcionesAdd" method="POST">
            {% csrf_token %}

            <div class="form-control">
                <input type="text" name="rut" placeholder="Rut" id="rut">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <input type="text" name="nombre" placeholder="Nombre" id="name">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <input type="text" name="paterno" placeholder="Apellido Paterno" id="paterno">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <input type="text" name="materno" placeholder="Apellido Materno" id="materno">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <input type="date" name="fechaNac" placeholder="Fecha" id="fecha">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            
            
            <div class="form-control">
                <select name="genero">
                    {% for genero in generos %}
                        <option value="{{genero.id_genero}}" >{{genero.genero}}</option>
                    {% endfor %}
                </select>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            
            <div class="form-control">
                <input type="text" name="telefono" placeholder="Telefono" id="telefono">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            
            <div class="form-control">
                <input type="mail" name="email" placeholder="Email" id="email">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            
            <div class="form-control">
                <input type="text" name="direccion" placeholder="Direccion" id="direccion">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>            
            

            <input type="submit" name="opcion" value="Agregar">
            <button>Registrar</button>

        </form><br><br>
        <a href="{% url 'crud' %}"> Volver </a>
        <br>
        <div id="idMensajes">
            {% if mensajes %}
            {{mensaje}}
            {% endif %}
        </div>
    </div>
    
</body>
</html>